body {
    background-color: antiquewhite;
}

#add-hamster {
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 1%;
}

#add-hamster input {
    padding: 6px;
    border-radius: 6px;
}